[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
alembic = "*"
asyncpg = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}

[dev-packages]
flake8 = "*"
pre-commit = "*"
pytest = "*"
pandas = "*"
sqlalchemy-utils = "*"
openpyxl = "*"
tox = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = {extras = ["python"], version = "*"}
pytest-asyncio = "*"

[requires]
python_version = "3.11"
